.inputWrapper {
  display: flex;
  justify-content: center;
}

.inputWrapper :global input {
  font-size: 20px;
  width: 80%;
  height: 30px;
  border: 0;
  border-bottom: 2px dotted;
  text-align: center;
}

.a {
  padding-right: 10px;
}

.b {
  padding-left: 10px;
}
