.operationsWrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.operationWrapper {
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
}

.operation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin: 5px;
}

.operation:global.active {
  background-color: lightgreen;
}
