.resultWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.error {
  display: block;
  color: red;
  font-size: 16px;
}

.result {
  display: block;
  font-size: 30px;
}
